<div class="cartao">
    <header class="header-cartao text-center align-middle">
        <label class="text-white bold">Parâmetros de período</label>
    </header>
    <section class="m-2">
        <div class="row">
            <div class="col-8">
                <label for="" class="d-block bold">Dias úteis trabalhados</label>
            </div>
            <div class="col-4 text-start">
                <label for="" class="d-block"> <i class="far fa-calendar-check"></i>  {{diasTrabalhados}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-8">
                <label for="" class="d-block bold">Dias úteis restantes</label>
            </div>
            <div class="col-4 text-start">
                <label for="" class="d-block"><i class="fas fa-calendar-alt"></i> {{diasUteisRestantes}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-8">
                <label for="" class="d-block bold">Sabádos para fim do mês</label>
            </div>
            <div class="col-4 text-start">
                <label for="" class="d-block"><i class="fas fa-calendar-minus"></i> {{sabadosRestantes}}</label>
            </div>
        </div>
    </section>
</div>

