<!-- COMPONENTE DE CARREGAMENTO -->
<div>
    <div class="center" *ngIf="this.itens.length == 0">
       <app-loading></app-loading>
    </div>
</div>

<div class="row mb-2 nao-imprime" *ngIf="itensFiltro.length != 0 || itens.length != 0">
    <div class="col-12 col-lg-4">
        <label class="form-label">Cliente</label>
        <input type="text" class="form-control form-control-sm upper-case" (keyup)="filtrar()"
            [(ngModel)]="nomeCliente">
    </div>
    <div class="col-12 col-lg-4">
        <label class="form-label">Produto</label>
        <input type="text" class="form-control  form-control-sm upper-case" (keyup)="filtrar()"
            [(ngModel)]="nomeProduto">
    </div>
    <div class="col-12 col-lg-4">
        <div class="row">
            <div class="col-3">
                <label class="form-label">Código</label>
                <input type="text" class="form-control  form-control-sm upper-case" (keyup)="filtrar()"
                    [(ngModel)]="cdBeneficiamento">
            </div>
            <div class="col-9">
                <label class="form-label">Beneficiamento</label>
                <input type="text" class="form-control  form-control-sm upper-case" (keyup)="filtrar()"
                    [(ngModel)]="nomeBeneficiamento">
            </div>
        </div>
    </div>
</div>
<div class="row mb-4" *ngIf="itensFiltro.length <= 0 && itens.length >0">
    <div class="col-12 col-lg-2" [ngClass]="setupClass">
        <label class="form-label">Data</label>
        <input type="date" class="form-control form-control-sm  upper-case" [(ngModel)]="dataProgramacao">
    </div>
    <div class="col-12 col-lg-2">
        <label class="form-label">Observação</label>
        <input type="text" class="form-control form-control-sm  upper-case" [(ngModel)]="observacao">
    </div>
    <div class="col-12 col-lg-3">
        <label class="form-label">Prioridade</label>
        <select type="text" class="form-control form-control-sm  upper-case" [(ngModel)]="prioridade">
            <option value="3">BAIXA</option>
            <option selected value="2">NORMAL</option>
            <option value="1">ALTA</option>
            <option value="0">CRITICO</option>
        </select>
    </div>
    <div class="col-12 col-lg-2" *ngIf="setupMisto">
        <label class="form-label">Setup Misto</label>
        <input class="form-control form-control-sm  upper-case" placeholder="HABILITADO" disabled="true">
    </div>
    <div class="col-12 col-lg-2">
        <label class="form-label">Turno</label>
        <div class="input-group">
            <select class="form-select form-select-sm " name="turn" [(ngModel)]="idTurno">
                <option [value]="turno.id" *ngFor="let turno of turnos">{{turno.nome}}</option>
            </select>
            <button class="btn btn-outline-secondary btn-sm" type="button" (click)="cadastrarTurno()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="col-12 col-lg-2">
        <label class="form-label">Linha</label>
        <div class="input-group">
            <select class="form-select form-select-sm " name="turn" [(ngModel)]="idLinha">
                <option [value]="linha.id" *ngFor="let linha of linhas">{{linha.nome}}</option>
            </select>
            <button class="btn btn-outline-secondary btn-sm" type="button" (click)="cadastrarLinha()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="col-12 col-lg-1">
        <label class="form-label">Setup Misto</label>
        <button class="form-control btn btn-primary btn-sm" tabindex="-1"
            (click)="habilitarSetupMisto()">{{btnSetup}}</button>
    </div>
</div>

<div *ngIf="itensFiltro.length <= 0 && itens.length >0" class="imprime">
    <div class="table font-11">
        <table class="table table-sm table-striped table-hover font-11" matSort (matSortChange)="sort($event)">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="color-text" mat-sort-header="programados">PG</th>
                    <th scope="col" class="color-text" mat-sort-header="data">ENTRADA</th>
                    <th scope="col" class="color-text nao-imprime" mat-sort-header="nf">NF</th>
                    <th scope="col" class="color-text" mat-sort-header="entrada">CONTROLE</th>
                    <th scope="col" class="color-text nao-imprime" mat-sort-header="item">ITEM</th>
                    <th scope="col" class="color-text" mat-sort-header="cliente">CLIENTE</th>
                    <th scope="col" class="color-text" mat-sort-header="produto">PRODUTO</th>
                    <th scope="col" class="color-text" mat-sort-header="beneficiamento">PROCESSO</th>
                    <th scope="col" class="color-text" mat-sort-header="espessura">ESPESSURA</th>
                    <th scope="col" class="color-text" mat-sort-header="saldo">SALDO</th>
                    <th scope="col" class="color-text" mat-sort-header="valor">VALOR</th>
                </tr>
            </thead>
            <tbody>
                <tr class="c-pointer"
                    *ngFor="let item of itens | paginate:{itemsPerPage:itensPagina,currentPage:pagina,id:'itensNaoRetornados'} let i index">
                    <td class="text-success"><i class="fas fa-check" *ngIf="item.programado"></i></td>
                    <td (click)="iniciarProgramacao(item)">{{item.dataEntrada | date : 'dd/MM/yyyy'}} {{item.hora}}</td>
                    <td class="nao-imprime" (click)="iniciarProgramacao(item)">{{item.nf}}</td>
                    <td class="" (click)="iniciarProgramacao(item)">{{item.cdEntrada}}</td>
                    <td class="nao-imprime" (click)="iniciarProgramacao(item)">{{item.item}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.nomeCliente}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.nomeProduto}}</td>
                    <td (click)="iniciarProgramacao(item)"> {{item.cdBeneficiamento}} - {{item.nomeBeneficiamento}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.espessura}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.saldoRetorno | number}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.valorPrevisto | currency: 'BRL'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mb-4">
        <div class="col-10 nao-imprime">
            <pagination-controls id="itensNaoRetornados" (pageChange)="pagina =$event" nextLabel="" previousLabel=""
                [maxSize]="10"></pagination-controls>
        </div>
        <div class="col-2  p-1 text-center text-success c-pointer nao-imprime align-middle mb-5"
            (click)="gerarArquivo()">
            <i class="fas fa-download iconeExcell" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Exportar dados"></i>
        </div>
    </div>
</div>

<div class="row" *ngIf="itensFiltro.length > 0">
    <div class="table font-11">
        <table class="table table-sm col-12 table-striped table-hover" matSort (matSortChange)="sortFiltro($event)">
            <thead>
                <tr>
                    <th scope="col" class="color-text" mat-sort-header="programados">PG</th>
                    <th scope="col" class="color-text" mat-sort-header="data">ENTRADA</th>
                    <th scope="col" class="color-text nao-imprime" mat-sort-header="nf">NF</th>
                    <th scope="col" class="color-text" mat-sort-header="entrada">CONTROLE</th>
                    <th scope="col" class="color-text nao-imprime" mat-sort-header="item">ITEM</th>
                    <th scope="col" class="color-text" mat-sort-header="cliente">CLIENTE</th>
                    <th scope="col" class="color-text" mat-sort-header="produto">PRODUTO</th>
                    <th scope="col" class="color-text" mat-sort-header="beneficiamento">BENEFICIAMENTO</th>
                    <th scope="col" class="color-text" mat-sort-header="espessura">ESPESSURA</th>
                    <th scope="col" class="color-text" mat-sort-header="saldo">SALDO</th>
                    <th scope="col" class="color-text" mat-sort-header="valor">VALOR</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of itensFiltro | paginate:{itemsPerPage:itensPaginaFiltro,currentPage:paginaFiltro,id:'itensNaoRetornadosFiltro'} let j index">
                    <td class="">
                        <input type="checkbox" [(ngModel)]="item.programacaoColetiva" *ngIf="!item.programado">
                        <i class="fas fa-check text-success" *ngIf="item.programado"></i>
                    </td>
                    <td (click)="iniciarProgramacao(item)">{{item.dataEntrada | date : 'dd/MM/yyyy'}} {{item.hora}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.nf}}</td>
                    <td class="" (click)="iniciarProgramacao(item)">{{item.cdEntrada}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.item}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.nomeCliente}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.nomeProduto}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.cdBeneficiamento}} - {{item.nomeBeneficiamento}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.espessura}}</td>
                    <td (click)="iniciarProgramacao(item)">{{item.saldoRetorno |number}} </td>
                    <td (click)="iniciarProgramacao(item)">{{item.valorPrevisto | currency: 'BRL'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row  mb-4 nao-imprime">
        <div class="col-12 col-lg-9">
            <pagination-controls id="itensNaoRetornadosFiltro" (pageChange)="paginaFiltro =$event" nextLabel=""
                previousLabel="" [maxSize]="10"></pagination-controls>
        </div>
        <div class="col-12 col-lg-3 text-end">
            <button class="btn btn-sm btn-success" (click)="selecionarTodas()">Selecionar todas</button>
            <button class="btn btn-primary btn-sm ms-2" (click)="programarItensSelecionados()">Programar</button>
        </div>
    </div>
</div>
