<section class="text-center">
    <h3>ZANETTINI BAROSSI S.A. IND. COMÉRCIO - DADOS DO ANO</h3>
</section>

<section>
    <div class="row">
        <div class="col-12 col-md-4 mt-2">
            <select name="" id="" class="form-select">
                <option value="">Selecione um cliente</option>
                <option value="id">ZANETTINI BAROSSI S.A. IND. COMÉRCIO</option>
                <option value="id">ITAESBRA INDÚSTRIA MECÂNICA LTDA</option>
                <option value="id">FUNDIÇÃO BATATAIS LTDA</option>
                <option value="id">METALÚRGICA GOLIN S.A.</option>
                <option value="id">ISRINGHAUSEN INDUSTRIAL LTDA</option>
            </select>
        </div>
        <div class="col-2 col-md-4 mt-2">
            <select name="" id="" class="form-select">
                <option value="">Selecione o ano</option>
                <option value="id">2023</option>
                <option value="id">2022</option>
                <option value="id">2021</option>
                <option value="id">2020</option>
                <option value="id">2019</option>
            </select>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12 col-md-2">
            <div class="col-12">
                <div class="card-informativo">
                    <div class="card-header">
                        <label for="">Faturamento</label>
                    </div>
                    <div class="card-content">
                        <label for="">R$ 215.278,47</label>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card-informativo">
                    <div class="card-header">
                        <label for="">Entrada</label>
                    </div>
                    <div class="card-content">
                        <label for="">R$ 315.278,47</label>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card-informativo">
                    <div class="card-header">
                        <label for="">Participação</label>
                    </div>
                    <div class="card-content">
                        <label for="">17%</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 mt-3">
            <canvas id="myChartFatEnt"></canvas>
        </div>
        <div class="col-12 col-lg-5 mt-3">
            <canvas id="myChartPart"></canvas>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="col-12">
        <div class="table table-sm font-table">
            <table class="table table-striped">
                <thead>
                    <th>BENEFICIAMENTO</th>
                    <th>JAN</th>
                    <th>FEV</th>
                    <th>MAR</th>
                    <th>ABR</th>
                    <th>MAI</th>
                    <th>JUN</th>
                    <th>JUL</th>
                    <th>AGO</th>
                    <th>SET</th>
                    <th>OUT</th>
                    <th>NOV</th>
                    <th>DEZ</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-truncate" style="max-width: 100px;">PINTURA LÍQUIDA ALUMÍNIO ALTA TEMPERATURA RES. 600</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                    </tr>
                    <tr>
                        <td class="text-truncate" style="max-width: 250px;">PINTURA LÍQUIDA ALUMÍNIO ALTA TEMPERATURA RES. 600</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                    </tr>
                    <tr>
                        <td class="text-truncate" style="max-width: 250px;">PINTURA LÍQUIDA ALUMÍNIO ALTA TEMPERATURA RES. 600</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="col-12">
        <div class="table table-sm font-table">
            <table class="table table-striped ">
                <thead class="">
                    <th>PRODUTO</th>
                    <th>JAN</th>
                    <th>FEV</th>
                    <th>MAR</th>
                    <th>ABR</th>
                    <th>MAI</th>
                    <th>JUN</th>
                    <th>JUL</th>
                    <th>AGO</th>
                    <th>SET</th>
                    <th>OUT</th>
                    <th>NOV</th>
                    <th>DEZ</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-truncate" style="max-width: 100px;">30.0.2279- 20.532.062</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                    </tr>
                    <tr>
                        <td class="text-truncate" style="max-width: 250px;">32.0.3098- AKK25327</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                    </tr>
                    <tr>
                        <td class="text-truncate" style="max-width: 250px;">32.0.3098- AKK25327</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                        <td >10.000,18</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
