
<div class="cartao">
    <header class="header-cartao text-center align-middle">
        <label class="text-white bold">Outras informações</label>
    </header>
    <section class="m-2">
        <div class="row">
            <div class="col-7"> 
                <label for="" class="d-block bold color-text sublinhado" ><i class="fas fa-dollar-sign align-middle me-2"></i>Valor carteira</label>
            </div>
            <div class="col-5 text-start">
                <label for="" class="d-block">-</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-7">
                <label class="d-block bold color-text sublinhado" ><i class="fas fa-dollar-sign align-middle me-2"></i>Novos itens</label>
            </div>
            <div class="col-5 text-start">
                <label for="" class="d-block">-</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-7">
                <label for="" class="d-block bold">-</label>
            </div>
            <div class="col-5 text-start">
                <label for="" class="d-block">-</label>
            </div>
        </div>
    </section>
</div>
