<section>
    <header class="bold card-label d-flex between align-middle">
        <label class="color-text" >DESEJA INICIAR A PROGRAMAÇÃO?</label>
    </header>
   <form action="">
    <div class="row mt-4">
        <div class="col-6">
            <button class="btn btn-sm btn-success form-control" tabindex="-1" (click)="iniciarProgramacao()">SIM</button>
        </div>
        <div class="col-6">
            <button class="btn btn-sm btn-danger form-control" tabindex="-1" (click)="fechar()">NÃO</button>
        </div>
    </div>
   </form>
</section>
