<section>
    <div class="c-pointer d-flex justify-content-end" (click)="fechar()">
        <i class="far fa-times-circle"></i>
    </div>
    <h2 class="c-pointer d-flex justify-content-center">Notificação</h2>
    <div class="card">
        <div>
            <h2>Atualização de sistema!</h2>
        </div>
        <div>
            <p>Agora no histórico anual de faturamento é possível analisar os últimos 12 meses de produção dos itens de
                determinado cliente.</p>
            <p>Todo este processo pode ser realizado de forma dinâmica, alterando a data para qualquer período o sistema
                sempre exibirá as informações com base nos últimos doze meses, tendo como base a data selecionada.</p>
            <p>O sistema conta com a possibilidade de exportação dos dados em Excel para manipulação externa, as
                melhorias acima aplicam-se também ao histórico anual de entradas.</p>
            <p>Créditos ao <strong>Erivaldo Santos</strong> pela ótima sugestão de melhoria.</p>
        </div>
        <br>
        <div>
            <label>Versão {{version}}</label>
        </div>
    </div>

</section>