<nav class="navbar bg-dark z-index-8 top-0 w-100 mb-2" *ngIf="exibirCabecalhoSeAutenticado()">
    <div class="container-fluid">
        <section class="d-flex w-100 align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span><i class="fas fa-bars text-light"></i></span>
            </button>
            <div>
                <img class="logo c-pointer" routerLink="/dashboard-sintetico" src="assets/LOGO-BRANCA.png">
            </div>
            <div class="w-100 d-flex justify-content-end">
                <form class="d-flex">
                    <div class="d-flex align-middle">
                        <!-- <span class="c-pointer">
                            <span class="badge" *ngIf="notificacao.length < 0"></span>
                            <span class="badge d-none" *ngIf="notificacao.length > 0">1</span>
                            <i class="far fa-bell text-light me-3"></i>
                        </span> -->
                        <!-- <div class="user-name align-middle text-light text-center open-offCancas text-center c-pointer" data-bs-target="#offcanvasRight"
                        aria-controls="offcanvasRight" data-bs-toggle="offcanvas">
                            <i class="fas fa-user-cog"></i>
                        </div> -->
                        <div class="open-offCancas text-center c-pointer" data-bs-target="#offcanvasRight"
                            aria-controls="offcanvasRight" data-bs-toggle="offcanvas">
                            <a aria-hidden="true" class="font-17">
                                <i class="fas fa-ellipsis-v text-light"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <!-- Abrindo menu lateral -->
        <div class="offcanvas  bgMenuLateral offcanvas-start" tabindex="-1" id="offcanvasNavbar"
            data-bs-backdrop="static" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasNavbarLabel"><i class="fas fa-chart-line me-2"></i>Dashboard
                </h2>
                <button type="button " class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item p-1 list">
                        <a routerLink="/dashboard-sintetico" class="decoration-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"><i class="fas fa-chart-line iconLateral"></i>Dashboard</a>
                    </li>
                    <li class="nav-item p-1 list">
                        <a routerLink="/configurar-meta" class="decoration-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"><i class="fas fa-wrench iconLateral"></i>Configurar
                            Meta</a>
                    </li>
                    <li class="nav-item p-1 list decoration-none">
                        <a routerLink="/atualizar-informacoes" class="decoration-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"> <i class="fas fa-history iconLateral"></i>Atualizar
                            informações</a>
                    </li>
                    <li class="nav-item p-1 list">
                        <a routerLink="/cadastro-usuario" class="decoration-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"><i class="fas fa-user-edit iconLateral"></i>Cadastro de
                            usuário</a>
                    </li>
                    <li class="nav-item p-1 list">
                        <a routerLink="/programacao" class="decoration-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"><i class="fas fa-edit iconLateral"></i>Programação</a>
                    </li>
                    <li class="nav-item p-1 list">
                        <a routerLink="/itens-programados" class="decoration-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"><i class="fas fa-clipboard-list iconLateral"></i>Itens
                            programados</a>
                    </li>

                    <li class="nav-item p-1 list">
                        <a routerLink="/configurar-telas" class="decoration-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"><i
                                class="far fa-window-restore iconLateral"></i>Configurar telas</a>
                    </li>
                    <li class="nav-item p-1 list">
                        <a routerLink="/notificacao" class="decoration-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"><i class="fas fa-comment-dots iconLateral"></i>Criar
                            notificação</a>
                    </li>
                    <li class="nav-item p-1 list">
                        <a routerLink="/administracao" class="decoration-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"> <i class="fas fa-user-shield iconLateral"></i>Administração</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
        data-bs-backdrop="static">
        <div class="btn-close-offCanvar p-4 c-pointer" data-bs-dismiss="offcanvas">
            <a type="button">
                <i class="fas fa-window-close text-light"></i>
            </a>
        </div>
        <img class="bg-perfil" src="assets/asset-cover.jpg">
        <div class="picture" >
            <label for="img-input">
                <img class="img-perfil c-pointer" accept="image" [src]="urlFoto">
            </label>
            <!-- <input type="file" id="img-input"> -->
        </div>
        <div class="">
            <div>
                <ul class="navbar-nav mt-5 ms-2">
                    <li class="mb-4  mt-3 bold ">
                        <i class="fas fa-circle text-success me-1"></i>
                        {{usuario.nome}}
                    </li>
                    <li class="ms-3 " (click)="abrirAlteracaoSenha()" data-bs-dismiss="offcanvas">
                        <i class="fas fa-key text-primary"></i>
                        <a class="decoration-none c-pointer">Alterar senha</a>
                    </li>
                    <li class="ms-3 mt-2" data-bs-dismiss="offcanvas">
                        <i class="fas fa-clipboard-list text-primary"></i>
                        <a class="decoration-none c-pointer" routerLink="/historico-atividades-sistema">Atividades no
                            sistema</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="log-out c-pointer sublinhado c-pointer p-2" data-bs-dismiss="offcanvas" (click)="sair()">
            <i class="fas fa-power-off ms-1 c-pointer"></i>
            <label class="ms-2 bold c-pointer"> Sair</label>
        </div>
    </div>
</nav>
