<section>
    <header class="bold card-label d-flex between align-middle">
        <label class="color-text" >DESEJA REALMENTE EXCLUIR ESTE ITEM?</label>
    </header>
   <form action="">
    <div class="text-center mt-4">
        <i class="fas fa-trash-alt"></i>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <button class="btn btn-sm btn-success form-control" tabindex="-1" (click)="sim()">SIM</button>
        </div>
        <div class="col-6">
            <button class="btn btn-sm btn-danger form-control" tabindex="-1" (click)="nao()">NÃO</button>
        </div>
    </div>
   </form>
</section>
