<div class="cartao">
    <header class="header-cartao text-center align-middle">
        <label class="text-white bold">Média mensal</label>
    </header>
    <section class="m-2">
        <div class="row">
            <div class="col-6"> 
                <label class="d-block bold color-text sublinhado" ><i class="fas fa-dollar-sign align-middle me-2"></i>Entrada</label>
            </div>
            <div class="col-6 text-start">
                <label class="d-block">{{valorMediaEntrada | currency : 'BRL'}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-6">
                <label class="d-block bold color-text sublinhado" ><i class="fas fa-dollar-sign align-middle me-2"></i>Faturamento</label>
            </div>
            <div class="col-6 text-start">
                <label class="d-block">{{valorMediaFaturamento | currency : 'BRL'}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-6">
                <label class="d-block bold">-</label>
            </div>
            <div class="col-6 text-start">
                <label class="d-block">-</label>
            </div>
        </div>
    </section>
</div>
