<header>
    <div class="bgCor card-label d-flex between align-middle">
        <label class="color-text bold">EXTRATO ANUAL DE FATURAMENTO POR PRODUTO</label>
    </div>
</header>
<section class="mb-5">
    
    <div class="text-center mt-3">
        <h3 class="bold">{{this.nomeCliente}}</h3>
    </div>
    <!-- COMPONENTE DE FILTRO POR PRODUTO -->
    <div class="row mb-3">
        <div class="col-12 col-lg-2 mt-1">
            <input type="date" class="form-control" [(ngModel)]="dataRecebida" (change)="consultaExtratoAnualDeProdutosPorCliente()">
        </div>
        <div class="col-12 col-lg-8 mt-1">
            <input type="text" class="form-control upper-case" placeholder="Digite o nome do produto para filtrar" [(ngModel)]="nomeProduto" (keyup)="filtarPorProduto()">
        </div>
        <div class="col-12 col-lg-2 mt-1">
            <button class="btn btn-primary form-control" (click)="alterarModoDeVisualizacao()">{{btnValue}}</button>
        </div>
    </div>

    <!-- COMPONENTE DE CARREGAMENTO -->
    <div class=" d-flex justify-content-center ">
        <div class="center" *ngIf="this.extrato.length == 0">
            <h3 class="bold">Carregando informações aguarde...</h3>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

    <!-- TABELA DE PRODUTOS POR QUANTIDADE SEM FILTRO -->
    <div class="table font-11" *ngIf="!isValor">
        <table *ngIf="this.extrato.length > 0 && this.extratoFiltro.length == 0 "
            class="table table-sm table-hover table-striped" matSort (matSortChange)="sortMes($event)">
            <thead>
                <tr>
                    <th scope="col">PRODUTO</th>
                    <th scope="col" mat-sort-header="{{col}}" *ngFor="let col of colunasTabela">{{col}}</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let produto of extrato | paginate:{itemsPerPage:itensPagina,currentPage:pagina,id:'paginaQuantidade'} let i = index" class="c-pointer">
                    <td (click)="openDetalhesProduto(produto)">{{produto.nomeProduto}}</td>
                    <td *ngFor="let mes of produto.meses" class="{{valorClass(mes.quantidade)}}"
                        (click)="openDetalhesProduto(produto)">{{mes.quantidade}}</td>
                    <td class="{{valorClass(produto.valor)}}">{{produto.qtdeTotal}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>TOTAL:</td>
                    <td *ngFor="let total of totalMes">{{total}}</td>
                    <td>{{this.totalGeralQtd}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- TABELA DE PRODUTOS POR QUANTIDADE COM FILTRO -->
    <div class="table font-11" *ngIf="!isValor">
        <table *ngIf="this.extratoFiltro.length != 0" class="table table-sm table-hover table-striped" matSort
            (matSortChange)="sortMes($event)">
            <thead>
                <tr>
                    <th scope="col">PRODUTO</th>
                    <th scope="col" mat-sort-header="{{col}}" *ngFor="let col of colunasTabela">{{col}}</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="c-pointer"
                    *ngFor="let produto of extratoFiltro | paginate:{itemsPerPage:itensPagina,currentPage:pagina,id:'paginaQuantidade'} let i = index">
                    <td (click)="openDetalhesProduto(produto)">{{produto.nomeProduto}}</td>
                    <td *ngFor="let mes of produto.meses" class="{{valorClass(mes.quantidade)}}"
                        (click)="openDetalhesProduto(produto)">{{mes.quantidade}}</td>
                    <td class="{{valorClass(produto.valor)}}">{{produto.qtdeTotal}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>TOTAL:</td>
                    <td *ngFor="let total of totalMes">{{total}}</td>
                    <td>{{this.totalGeralQtd}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- TABELA DE PRODUTOS POR VALOR SEM FILTRO -->
    <div class="table font-11" *ngIf="isValor && this.extratoFiltro.length == 0">
        <table class="table table-sm table-hover table-striped" matSort (matSortChange)="sortMes($event)">
            <thead>
                <tr>
                    <th scope="col">PRODUTO</th>
                    <th scope="col" mat-sort-header="{{col}}" *ngFor="let col of colunasTabela">{{col}}</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="c-pointer"
                    *ngFor="let produto of extrato | paginate:{itemsPerPage:itensPagina,currentPage:pagina,id:'paginaQuantidade'} let i = index">
                    <td (click)="openDetalhesProduto(produto)">{{produto.nomeProduto}}</td>
                    <td (click)="openDetalhesProduto(produto)" *ngFor="let mes of produto.meses" class="{{valorClass(mes.valor)}}">{{mes.valor |
                        currency:'BRL'}}</td>
                    <td class="{{valorClass(produto.valor)}}">{{produto.valorTotal |currency: 'BRL'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>TOTAL:</td>
                    <td *ngFor="let total of totalMes">{{total | currency:'BRL'}}</td>
                    <td>{{this.totalGeralVl | currency:'BRL'}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- TABELA DE PRODUTOS POR VALOR COM FILTRO  -->
    <div class="table font-11" *ngIf="isValor && this.extratoFiltro.length != 0">
        <table class="table table-sm table-hover table-striped" matSort (matSortChange)="sortMes($event)">
            <thead>
                <tr>
                    <th scope="col">PRODUTO</th>
                    <th scope="col" mat-sort-header="{{col}}" *ngFor="let col of colunasTabela">{{col}}</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="c-pointer"
                    *ngFor="let produto of extratoFiltro | paginate:{itemsPerPage:itensPagina,currentPage:pagina,id:'paginaQuantidade'} let i = index">
                    <td>{{produto.nomeProduto}}</td>
                    <td *ngFor="let mes of produto.meses" class="{{valorClass(mes.valor)}}">{{mes.valor |
                        currency:'BRL'}}</td>
                    <td class="{{valorClass(produto.valor)}}">{{produto.valorTotal |currency: 'BRL'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>TOTAL:</td>
                    <td *ngFor="let total of totalMes">{{total | currency:'BRL'}}</td>
                    <td>{{this.totalGeralVl | currency:'BRL'}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- METODO DE PAGINAÇÃO  -->
    <div class="row" *ngIf="this.extratoFiltro.length == 0">
        <pagination-controls class="col-11" id="paginaQuantidade" (pageChange)="pagina =$event" nextLabel=""
            previousLabel="" [maxSize]="5"></pagination-controls>
        <div *ngIf="exportarDados" class="col-1 align-middle p-1 text-center text-success c-pointer" data-bs-toggle="tooltip"
            data-bs-placement="left" title="Exportar dados" (click)="exportarPlanilha()">
            <i class="fas fa-download iconeExcell "></i>
        </div>
    </div>

    <button class="btn  btn-danger" (click)="voltar()">Voltar</button>
</section>
<div class="mb-5"></div>
