<app-loading *ngIf="loadingPage"></app-loading>
<div class="row" *ngIf="!loadingPage">
  <div class="col-8 col-md-4 col-lg-4 mt-1">
    <div class="input-group input-group-sm">
      <input type="date" class="form-control bgInput text-center" [(ngModel)]="dataEscolhida" />
      <button class="input-group-text btn btn-primary" (click)="emitirData()">
        <i class="fas fa-search-dollar"></i>
      </button>
    </div>
  </div>
  <div class="col-4 col-md-8 col-lg-8 text-end mt-1">
    <button class="btn btn-sm btn-primary" (click)="alterarParaModoAnalitico()">Analítico
      <i class="fas fa-table ms-1"></i>
    </button>
  </div>
</div>

<section class="color-text mb-3" *ngIf="!loadingPage">
  <div class="sessao">
    <div class="graficos">
      <div class="mt-1">
        <app-card-dia></app-card-dia>
      </div>
      <div class="mt-1">
        <app-card-mes></app-card-mes>
      </div>
    </div>
    <div class="opcoes">
      <div class="mt-1 responsivo">
        <app-card-outros></app-card-outros>
        <app-card-meta></app-card-meta>
      </div>
      <div class="mt-1 responsivo">
        <app-card-periodo></app-card-periodo>
        <app-card-media></app-card-media>
      </div>
    </div>
  </div>
</section>
<div class="row mb-5" *ngIf="!loadingPage">
  <div class="col-12 col-sm-12 col-md-6  col-xl-4 ">
    <app-grafico-faturamento-diario></app-grafico-faturamento-diario>
  </div>
  <div class="col-12 col-sm-12 col-md-6  col-xl-4 ">
    <app-grafico-faturamento-mensal></app-grafico-faturamento-mensal>
  </div>
  <div class="col-12 col-sm-12 col-md-6  col-xl-4 ">
    <app-grafico-evolucao-carteira></app-grafico-evolucao-carteira>
  </div>
  <div class="col-12 col-sm-12 col-md-6  col-xl-4">
    <app-grafico-entradas-mes></app-grafico-entradas-mes>
  </div>
  <div class="col-12 col-sm-12 col-md-6  col-xl-4">
    <app-grafico-faturamento-ano-anterior></app-grafico-faturamento-ano-anterior>
  </div>
  <div class="col-12 col-sm-12 col-md-6  col-xl-4">
    <app-grafico-comparativo-anual class="mb-5"></app-grafico-comparativo-anual>
  </div>
  <div class="col-12 col-lg-6">
    <app-grafico-novos-itens></app-grafico-novos-itens>
  </div>
  <!-- <div class="col-12 col-lg-3">
    <app-grafico-movimentacao-produtos></app-grafico-movimentacao-produtos>
  </div> -->
  <div class="col-12  col-lg-6">
    <app-grafico-movimento-mensal></app-grafico-movimento-mensal>
  </div>
  <div class="col-12 col-md-6 col-lg-6">
    <app-tbl-novos-itens></app-tbl-novos-itens>
  </div>
  <div class="col-12 col-lg-6">
    <tbl-movimento-produtos></tbl-movimento-produtos>
  </div>
</div>
