<div class="cartao mt-2">
    <header class="header-cartao text-center align-middle">
        <label class="text-white bold">Médias do mês</label>
    </header>
    <section class="m-2">
        <div class="row">
            <div class="col-7">
                <label class="d-block bold sublinhado" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Composição do cálculo, total de entradas do dia anterior dividido pelos dias trabalhados."><i class="fas fa-ruler"></i> Média de entradas</label>
            </div>
            <div class="col-5 text-start">
                <label class="d-block">{{valorMediaEntrada | currency : 'BRL'}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-7">
                <label class="d-block bold sublinhado" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Composição do cálculo, total de faturamento do dia anterior dividido pelos dias úteis trabalhados."><i class="fas fa-hand-holding-usd"></i> Média fat. dias úteis</label>
            </div>
            <div class="col-5 text-start">
                <label class="d-block">{{valorMediaFaturamentoDiasUteis | currency : 'BRL'}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-7">
                <label class="d-block bold sublinhado text-truncate" style="max-width: 200px;" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Composição do cálculo, total de faturamento do dia anterior dividido pelos dias úteis + sábados trabalhados."><i class="fas fa-hand-holding-usd"></i> Média fat. total </label>
            </div>
            <div class="col-5 text-start">
                <label class="d-block">{{valorMediaFaturamentoComSabados | currency : 'BRL'}}</label>
            </div>
        </div>
    </section>
</div>
