<div class="cartao mt-2">
    <header class="header-cartao text-center align-middle">
        <label class="text-white bold">Médias do mês</label>
    </header>
    <section class="m-2">
        <div class="row">
            <div class="col-7">
                <label for="" class="d-block bold sublinhado" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Composição do cálculo, valor total de entradas com base no dia anterior dividido pelos dias trabalhados"><i class="fas fa-ruler"></i> Médida de entradas</label>
            </div>
            <div class="col-5 text-start">
                <label for="" class="d-block">{{valorMediaEntrada | currency : 'BRL'}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-7">
                <label for="" class="d-block bold sublinhado" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Composição do cálculo, valor total do faturamento com base no dia anterior dividido pelos dias úteis trabalhados"><i class="fas fa-hand-holding-usd"></i> Fat. dias úteis</label>
            </div>
            <div class="col-5 text-start">
                <label for="" class="d-block">{{valorMediaFaturamentoDiasUteis | currency : 'BRL'}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-7">
                <label for="" class="d-block bold sublinhado text-truncate" style="max-width: 200px;" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Composição do cálculo, valor total do faturamento com base no dia anterior dividido pelos (dias úteis + sábados) trabalhados"><i class="fas fa-hand-holding-usd"></i> Fat. dias úteis + sábados</label>
            </div>
            <div class="col-5 text-start">
                <label for="" class="d-block">{{valorMediaFaturamentoComSabados | currency : 'BRL'}}</label>
            </div>
        </div>
    </section>
</div>
