<section>
    <header>
        <div class="bgCor card-label color-text d-flex between align-middle">
            <label class="color-text bold">DETALHES DO PRODUTO</label>
        </div>
    </header>
    <div class="row">
        <div class="col-12 col-lg-6 alinhamento">
            <div class="text-center mb-2 " *ngIf="!urlImagem">
                <app-loading ></app-loading >
            </div>
            <div class="text-center mb-2 " *ngIf="urlImagem">
                <a [href]="urlImagem" target="_blank" rel="noopener noreferrer">
                    <img [src]="urlImagem" alt="Imagem não encontrada" class="image-size">
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-6 color-text">
            <label for="" class="form-label bold">CLIENTE:</label>
            <p>{{produto.nomeCliente}}</p>
            <label for="" class="form-label bold">PRODUTO:</label>
            <p>{{produto.nomeProduto}}</p>
            <label for="" class="form-label bold" *ngIf="visualizarPreco">VALOR UNITÁRIO:</label>
            <p *ngIf="visualizarPreco">{{produto.valorBeneficiamento| currency : 'BRL'}}</p>
            <label for="" class="form-label bold">BENEFICIAMENTO</label>
            <p>{{produto.nomeBeneficiamento}}</p>
            <label for="" class="form-label bold" *ngIf="data.quantidade">QUANTIDADE:</label>
            <p *ngIf="data.quantidade">{{data.quantidade | number }}</p>
            <label for="" class="form-label bold" *ngIf="data.valor">VALOR:</label>
            <p *ngIf="data.valor">{{data.valor | currency : 'BRL'}}</p>
            <label for="" class="form-label bold">BOOK DO PRODUTO</label>
            <p><a href="{{linkBook}}" target="_blank" rel="noopener noreferrer">Clique aqui</a></p>
        </div>
        <hr>
        <div class="text-end">
            <button class="btn btn-sm btn-danger" (click)="fechar()">Fechar</button>
        </div>
    </div>
</section>
