<header>
    <div class="bgCor card-label d-flex between align-middle">
        <label class="color-text bold">FATURAMENTO ACUMULADO POR BENEFICIAMENTO</label>
    </div>
</header>

<section class="mb-5">
    <div class="text-center p-2 color-text">
        <h3 class="bold">{{nomeBeneficiamento}}</h3>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="table">
                <table class="table table-sm table-hover table-striped" matSort (matSortChange)="sortCliente($event)">
                    <thead>
                        <tr>
                            <th scope="col" mat-sort-header="nomeCliente">Cliente</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="c-pointer" (click)="navegar(cliente.cdCliente, cliente.nomeCliente)" *ngFor="let cliente of clientes | paginate:{itemsPerPage:itensPagina,currentPage:paginaCliente,id:'tblFatCliente'}let i = index">
                            <td class="text-truncate" style="max-width: 220px;">{{cliente.nomeCliente}}</td>
                            <td class="text-end">{{cliente.valor | currency : 'BRL'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{totalCliente | currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <pagination-controls class="col-11" id="tblFatCliente" (pageChange)="paginaCliente =$event" nextLabel="" previousLabel="" [maxSize]="5"></pagination-controls>
                <div class="col-1 align-middle p-1 text-center text-success c-pointer" data-bs-toggle="tooltip" data-bs-placement="left" title="Exportar dados" (click)="gerarExportCliente()">
                    <i class="fas fa-download iconeExcell " ></i>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="table">
                <table class="table table-sm table-hover table-striped" matSort (matSortChange)="sortProduto($event)">
                    <thead>
                        <tr>
                            <th scope="col" mat-sort-header="nomeProduto">Produto</th>
                            <th scope="col" class="d-none d-lg-table-cell" mat-sort-header="quantidade">Qtde</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="openDetalhesProduto(produto)" *ngFor="let produto of produtos | paginate:{itemsPerPage:itensPagina,currentPage:paginaProduto,id:'tblFatProduto'}let i = index" class="c-pointer">
                            <td class="text-truncate" style="max-width: 220px;">{{produto.nomeProduto}}</td>
                            <td class="d-none d-lg-table-cell">{{produto.quantidade | number}}</td>
                            <td class="text-end">{{produto.valor | currency : 'BRL'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="d-none d-lg-table-cell">{{totalQtde | number}}</td>
                            <td class="text-end">{{totalProdutos | currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <pagination-controls class="col-11" id="tblFatProduto" (pageChange)="paginaProduto =$event" nextLabel="" previousLabel="" [maxSize]="5"></pagination-controls>
                <div class="col-1 align-middle p-1 text-center text-success c-pointer" data-bs-toggle="tooltip" data-bs-placement="left" title="Exportar dados" (click)="gerarExportProduto()">
                    <i class="fas fa-download iconeExcell " ></i>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" (click)="voltar()">Voltar</button>
</section>
