<header>
    <div class="bgCor card-label d-flex between align-middle">
        <label class="color-text bold">FATURAMENTO ACUMULADO POR BENEFICIAMENTO DO CLIENTE</label>
    </div>
</header>

<section class="mb-5">
    <div class="text-center p-2  color-text bold">
        <label>{{nomeCliente}}</label>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">

            <div class="table">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Beneficiamento</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let beneficiamento of beneficiamentos | paginate:{itemsPerPage:itensBeneficiamentoPagina,currentPage:paginasBeneficiamento,id:'tblBeneficiamento'}let j = index">
                            <td class="text-truncate" style="max-width: 220px;">{{beneficiamento.nomeBeneficiamento}}
                            </td>
                            <td class="text-end">{{beneficiamento.valor | currency : 'BRL'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{totalBeneficiamento | currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="row">
                <pagination-controls class="col-11" id="tblBeneficiamento" (pageChange)="paginasBeneficiamento =$event"
                    nextLabel="" previousLabel="" [maxSize]="5"></pagination-controls>
                <div class="col-1 align-middle p-1 text-center text-success c-pointer" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="Exportar dados" (click)="gerarExportBeneficiamento()">
                    <i class="fas fa-download iconeExcell "></i>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-6">
            <div class="table">
                <table class="table table-sm table-hover">

                    <thead>
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col" class="d-none d-lg-table-cell">Qtde</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr (click)="openDetalhesProduto(produto)"
                            *ngFor="let produto of produtos | paginate:{itemsPerPage:itensPagina,currentPage:paginaProduto,id:'tblBeneficiamentoProduto'} let i = index"
                            class="c-pointer">
                            <td class="text-truncate" style="max-width: 220px;">{{produto.nomeProduto}}</td>
                            <td class="d-none d-lg-table-cell">{{produto.quantidade | number}}</td>
                            <td class="text-end">{{produto.valor | currency : 'BRL'}}</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="d-none d-lg-table-cell">{{totalQtde | number}}</td>
                            <td class="text-end">{{totalProduto | currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
            <div class="row">
                <pagination-controls class="col-11" id="tblBeneficiamentoProduto" (pageChange)="paginaProduto =$event"
                    nextLabel="" previousLabel="" [maxSize]="5"></pagination-controls>
                <div class="col-1 align-middle p-1 text-center text-success c-pointer" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="Exportar dados" (click)="gerarExportProduto()">
                    <i class="fas fa-download iconeExcell "></i>
                </div>
            </div>

        </div>
    </div>
    <button class="btn btn-danger" (click)="voltar()">Voltar</button>
</section>