<header class="bgCor head-label p-2 d-flex justify-content-between align-middle">
    <label class="bold">HISTÓRICO DE FATURAMENTO POR CLIENTE</label>
</header>

<section class="mb-2">
    <form>
        <div class="row">
            <div class="col-12 col-md-4">
                <input id="dataInicial" type="text" placeholder="Digite para filtrar"  class="form-control" name="nomeCliente" [(ngModel)]="nomeCliente" (keyup)="filtrarPorCliente()">
            </div>
            <div class="col-12 col-md-4">
                <input id="dataInicial" type="date" class="form-control" name="dataInicial" [(ngModel)]="dataInicial">
            </div>
            <div class="col-12 col-md-4">
                <div class="input-group">
                    <input type="date" class="form-control bgInput text-center" name="dataFinal" [(ngModel)]="dataFinal"/>
                    <button class="input-group-text btn btn-primary" (click)="consultaHistoricoDeFaturamentoPorCliente()">
                      <i class="fas fa-search-dollar"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>

<div class=" d-flex justify-content-center mt-3 mb-3" *ngIf="historicoMesesFiltro.length == 0">
    <div class="center">
        <app-loading></app-loading>
    </div>
</div>

<section class="mb-5" *ngIf="historicoMesesFiltro.length != 0">
    <div class="table-responsive-sm mb-2">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th class="c-pointer" *ngFor="let mesAno of colunas" (click)="ordenarPorValoresMes(mesAno)">{{mesAno}}
                        <i class="ms-2 fas fa-sort"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of historicoMesesFiltro | paginate: {itemsPerPage: itensPagina, currentPage: pagina, id: 'tbl-faturamento-cliente'}">
                    <td class=" text-truncate" style="max-width: 220px;">{{cliente.nomeCliente}}</td>
                    <td class="select-data {{valorClass(mes.valor)}}" *ngFor="let mes of cliente.valoresMes" (click)="selecionarFaturamento(cliente, mes.mesAno)">{{mes.valor | currency: 'BRL'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="row">
        <div class="col-7">
            <pagination-controls id='tbl-faturamento-cliente' (pageChange)="pagina = $event" nextLabel="" previousLabel=""[maxSize]="5"></pagination-controls>
        </div>
        <div class="col-4 text-end">
            <strong class="me-2">Itens por página</strong>
            <select name="itensPagina" [(ngModel)]="itensPagina">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
        </div>
        <div *ngIf="exportarDadosExcel" class="col-1 text-center text-success c-pointer f-15" (click)="exportarDados()">
            <i class="fas fa-download" title="Exportar dados" ></i>
        </div>
    </div>
    <button class="btn btn-sm btn-danger" (click)="voltar()">Voltar</button>
</section>
