
.header-cartao {
    background-color: #024eda;
    border-radius: 7px 7px 0 0;
    padding: 7px;
}


.c-pointer{
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

/* th{
    background: #36304a;;
} */
.color-text{
    color: #fff;
    font-weight: bold;
    font-size: medium;
}

.image-size {
    max-width: 200px;
    width: 100%;
}

table{
    font-size: 11px;
}

.select-data:hover{
    background-color: rgba(110, 104, 104, 0.863);
    color: white !important;
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
}
