<div class="cartao">
    <header class="header-cartao text-center align-middle">
        <label class="text-white bold">Entradas</label>
    </header>
    <section class="m-2">
        <div class="row">
            <div class="col-6"> 
                <label class="d-block bold color-text sublinhado" ><i class="fas fa-dollar-sign align-middle me-2"></i>Dia</label>
            </div>
            <div class="col-6 text-start">
                <label class="d-block">{{vlEntradaDia | currency: 'BRL'}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-6">
                <label class="d-block bold color-text sublinhado" ><i class="fas fa-dollar-sign align-middle me-2"></i>Mês</label>
            </div>
            <div class="col-6 text-start">
                <label class="d-block">{{vlEntradaMes | currency: 'BRL'}}</label>
            </div>
        </div>
    </section>
    <section class="m-2">
        <div class="row">
            <div class="col-6">
                <label class="d-block bold sublinhado"><i class="fas fa-dollar-sign align-middle me-2"></i>Ano</label>
            </div>
            <div class="col-6 text-start">
                <label class="d-block">{{vlEntradaAno | currency: 'BRL'}}</label>
            </div>
        </div>
    </section>
</div>
