<header>
    <div class="bgCor card-label d-flex between align-middle">
        <label class="color-text bold">PAINEL DE ADMINISTRAÇÃO DO SISTEMA</label>
    </div>
</header>

<main>
    <app-cards></app-cards>
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="bgCor card-label d-flex between align-middle">
                <label class="color-text bold">ACESSOS POR TELA</label>
            </div>
            <app-tbl-acessos-tela></app-tbl-acessos-tela>
        </div>
        <div class="col-12 col-md-6 col-lg-8">
            <div class="bgCor card-label d-flex between align-middle">
                <label class="color-text bold">LOGS DO SISTEMA</label>
            </div>
            <app-tbl-log-sistema></app-tbl-log-sistema>
        </div>
    </div>
</main>
