<section>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="input-group input-group-sm">
                <input type="date" class="form-control bgInput text-center" [(ngModel)]="dataAtual">
                <button class="input-group-text btn btn-primary" (click)="emitirData()">
                    <i class="fas fa-search-dollar"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<div class="mt-1">
    <app-card-informacoes></app-card-informacoes>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <app-grafico-faturamento-acumulado></app-grafico-faturamento-acumulado>
    </div>
    <div class="col-12 col-lg-6">
        <app-grafico-faturamento-mensal></app-grafico-faturamento-mensal>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <app-tbl-faturamento-acumulado></app-tbl-faturamento-acumulado>
    </div>
    <div class="col-12 col-lg-6">
        <app-tbl-faturamento-mensal></app-tbl-faturamento-mensal>
     </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <app-grafico-entrada-acumulada></app-grafico-entrada-acumulada>
    </div>
    <div class="col-12 col-lg-6">
        <app-grafico-entrada-mensal></app-grafico-entrada-mensal>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <app-tbl-entrada-acumulada></app-tbl-entrada-acumulada>
    </div>
    <div class="col-12 col-lg-6">
        <app-tbl-entrada-mensal></app-tbl-entrada-mensal>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <app-grafico-backlog-total></app-grafico-backlog-total>
    </div>
    <div class="col-12 col-lg-6">
        <app-grafico-backlog-comparativo></app-grafico-backlog-comparativo>
    </div>
</div>

<div class="mb-5">

</div>