<header>
    <div class="bgCor card-label d-flex between align-middle">
        <label class="color-text bold">FATURAMENTO ACUMULADO DO MÊS</label>
    </div>
</header>

<section class="mb-5">
    <div class="row">
        <!-- CLIENTES -->
        <div class="col-12 col-lg-4">
            <!-- CAMPO DE FILTRO PRO CLIENTE -->
            <div class=" mt-1 mb-1" >
                <input type="text" class="form-control upper-case" placeholder="Digite o nome do cliente para filtrar"
                    [(ngModel)]="nomeCliente" (keyup)="filtrarPorCliente()">
            </div>
            <!-- TABELA DE CLIENTES SEM FILTRO -->
            <div class="table" *ngIf="this.clientesFiltro.length == 0">
                <table class="table table-sm table-hover table-striped" matSort (matSortChange)="sortCliente($event)">
                    <thead>
                        <tr>
                            <th scope="col" mat-sort-header="nomeCliente">Cliente</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="detalheCliente(cliente.cdCliente, cliente.nomeCliente)" class="c-pointer"
                            *ngFor="let cliente of clientes | paginate:{itemsPerPage:itensPagina,currentPage:paginaCliente,id:'tblFatCliente'}let i = index">
                            <td class="text-truncate" style="max-width: 220px;">{{cliente.nomeCliente}}</td>
                            <td class="text-end">{{cliente.valor | currency: 'BRL'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{totalClientes| currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- TABELA DE FILTRO DO CLIENTE -->
            <div class="table" *ngIf="this.clientesFiltro.length != 0" >
                <table class="table table-sm table-hover table-striped" matSort (matSortChange)="sortCliente($event)">
                    <thead>
                        <tr>
                            <th scope="col" mat-sort-header="nomeCliente">Cliente</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="detalheCliente(cliente.cdCliente, cliente.nomeCliente)" class="c-pointer"
                            *ngFor="let cliente of clientesFiltro | paginate:{itemsPerPage:itensPagina,currentPage:paginaCliente,id:'tblFatCliente'}let i = index">
                            <td class="text-truncate" style="max-width: 220px;">{{cliente.nomeCliente}}</td>
                            <td class="text-end">{{cliente.valor | currency: 'BRL'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{totalClientes| currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- METODO DE PAGINAÇÃO CLIENTE -->
            <div class="row" *ngIf="this.clientesFiltro.length == 0">
                <pagination-controls class="col-11" id="tblFatCliente" (pageChange)="paginaCliente =$event" nextLabel=""
                    previousLabel="" [maxSize]="5"></pagination-controls>
                <div class="col-1 align-middle p-1 text-center text-success c-pointer" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="Exportar dados" (click)="gerarExportCliente()">
                    <i class="fas fa-download iconeExcell "></i>
                </div>
            </div>
        </div>

        <!-- BENEFICIAMENTOS -->
        <div class="col-12 col-lg-4">
            <!-- METODO DE FILTRO POR BENEFICIAMENTO -->
            <div class=" mt-1 mb-1" >
                <input type="text" class="form-control" placeholder="Digite o nome do beneficiamento para filtrar"
                    [(ngModel)]="nomeBeneficiamento" (keyup)="filtrarPorBeneficiamento()">
            </div>
            <!-- TABELA CLIENTE SEM FILTRO -->
            <div class="table" *ngIf="beneficiamentosFiltro.length == 0">
                <table class="table table-sm table-hover table-striped" matSort
                    (matSortChange)="sortBeneficiamento($event)">
                    <thead>
                        <tr>
                            <th scope="col" mat-sort-header="nomeBeneficiamento">Beneficiamento</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="detalheBeneficiamento(beneficiamento.cdBeneficiamento, beneficiamento.nomeBeneficiamento)"
                            class="c-pointer"
                            *ngFor="let beneficiamento of beneficiamentos | paginate:{itemsPerPage:itensPagina,currentPage:paginaBeneficiamento,id:'tblFatBeneficiamento'}let i = index">
                            <td class="text-truncate" style="max-width: 220px;">{{beneficiamento.nomeBeneficiamento}}
                            </td>
                            <td class="text-end">{{beneficiamento.valor | currency: 'BRL'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{totalBeneficiamentos | currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- TABELA DE FILTRO DO BENEFICIAMENTO -->
            <div class="table" *ngIf="beneficiamentosFiltro.length != 0">
                <table class="table table-sm table-hover table-striped" matSort
                    (matSortChange)="sortBeneficiamento($event)">
                    <thead>
                        <tr>
                            <th scope="col" mat-sort-header="nomeBeneficiamento">Beneficiamento</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="detalheBeneficiamento(beneficiamento.cdBeneficiamento, beneficiamento.nomeBeneficiamento)"
                            class="c-pointer"
                            *ngFor="let beneficiamento of beneficiamentosFiltro | paginate:{itemsPerPage:itensPagina,currentPage:paginaBeneficiamento,id:'tblFatBeneficiamento'}let i = index">
                            <td class="text-truncate" style="max-width: 220px;">{{beneficiamento.nomeBeneficiamento}}
                            </td>
                            <td class="text-end">{{beneficiamento.valor | currency: 'BRL'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{totalBeneficiamentos | currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- METODO DE PAGINAÇÃO DO BENEFICIAMENTO -->
            <div class="row" *ngIf="beneficiamentosFiltro.length == 0">
                <pagination-controls class="col-11" id="tblFatBeneficiamento"
                    (pageChange)="paginaBeneficiamento =$event" nextLabel="" previousLabel=""
                    [maxSize]="5"></pagination-controls>
                <div class="col-1 align-middle p-1 text-center text-success c-pointer" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="Exportar dados" (click)="gerarExportBeneficiamento()">
                    <i class="fas fa-download iconeExcell "></i>
                </div>
            </div>
        </div>

        <!-- PRODUTOS -->
        <div class="col-12 col-lg-4">
            <!-- METODO DO FILTRO POR PRODUTO -->
            <div class=" mt-1 mb-1" >
                <input type="text" class="form-control" placeholder="Digite o nome do produto para filtrar"
                    [(ngModel)]="nomeProduto" (keyup)="filtrarPorProduto()">
            </div>
            <!-- TABELA DE PRODUTOS SEM FILTRO -->
            <div class="table" *ngIf="produtosFiltro.length == 0">
                <table class="table table-sm table-hover table-striped" matSort (matSortChange)="sortProduto($event)">
                    <thead>
                        <tr>
                            <th scope="col" mat-sort-header="nomeProduto">Produto</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="c-pointer"
                            *ngFor="let produto of produtos | paginate:{itemsPerPage:itensPagina,currentPage:paginaProduto,id:'tblFatProduto'}let i = index"
                            (click)="openDetalhesProduto(produto)">
                            <td class="text-truncate" style="max-width: 220px;">{{produto.nomeProduto}}</td>
                            <td class="text-end">{{produto.valor | currency: 'BRL'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{totalProdutos | currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- TABELA DE PRODUTOS COM FILTRO -->
            <div class="table"  *ngIf="produtosFiltro.length != 0">
                <table class="table table-sm table-hover table-striped" matSort (matSortChange)="sortProduto($event)">
                    <thead>
                        <tr>
                            <th scope="col" mat-sort-header="nomeProduto">Produto</th>
                            <th scope="col" class="text-end">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="c-pointer"
                            *ngFor="let produto of produtosFiltro | paginate:{itemsPerPage:itensPagina,currentPage:paginaProduto,id:'tblFatProduto'}let i = index"
                            (click)="openDetalhesProduto(produto)">
                            <td class="text-truncate" style="max-width: 220px;">{{produto.nomeProduto}}</td>
                            <td class="text-end">{{produto.valor | currency: 'BRL'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td class="text-end">{{totalProdutos | currency : 'BRL'}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row" *ngIf="produtosFiltro.length == 0">
                <pagination-controls class="col-11" id="tblFatProduto" (pageChange)="paginaProduto =$event" nextLabel=""
                    previousLabel="" [maxSize]="5"></pagination-controls>
                <div class="col-1 align-middle p-1 text-center text-success c-pointer" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="Exportar dados" (click)="gerarExportProduto()">
                    <i class="fas fa-download iconeExcell "></i>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-danger" (click)="voltar()">Voltar</button>
</section>