<header>
    <section>
        <div class="bgCor card-label d-flex between align-middle">
            <label class="color-text">ENTRADA DE CLIENTE POR BENEFICIAMENTO {{dataRecebida | date: 'dd/MM/yyyy'}}</label>
        </div>
    </section>
</header>

<section>
    <div class="p-2 text-center">
        <label class="color-text bold">{{nomeBeneficiamento}}</label>
    </div>
    <div class="table">
        <table class="table table-sm table-hover" matSort>
            <thead>
                <tr>
                    <td mat-sort-header="nomeCliente" class="bold">Cliente</td>
                    <td class="text-end bold">Valor</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of entradas | paginate:{itemsPerPage:itensPagina,currentPage:pagina,id:'tblEntradaBeneficiamento'} let i=index" class="c-pointer" (click)="navegar(cliente.cdCliente, cliente.nomeCliente)">
                    <td class="text-truncate" style="max-width: 220px;">{{cliente.nomeCliente}}</td>
                    <td class="text-end">{{cliente.valor | currency : 'BRL'}}</td>
                </tr>
            </tbody>
            <tfoot class="bold">
                <td >Total</td>
                <td class="text-end">{{valor | currency : 'BRL'}}</td>
            </tfoot>
        </table>
    </div>

    <div class="row">
        <div class="col-11">
                <pagination-controls id="tblEntradaBeneficiamento"
                (pageChange)="pagina = $event" nextLabel="" previousLabel=""
                [maxSize]="5">
            </pagination-controls>
        </div>
        <div *ngIf="exportarDados" class="col-1 align-middle p-1 text-center text-success c-pointer" (click)="gerarArquivo()" >
            <i data-bs-toggle="tooltip" data-bs-placement="left" title="Exportar dados" class="fas fa-download iconeExcell "></i>
        </div>
    </div>
    <button class="btn btn-danger" (click)="voltar()">Voltar</button>
</section>