<header>
    <div class="bgCor card-label d-flex between align-middle">
        <label class="color-text bold">EXTRATO ANALÍTICO DE PRODUTO POR ENTRADA</label>
    </div>
</header>
<section class="mb-5">
    <div class="text-center">
        <h3 class="bold">{{nomeCliente}}</h3>
    </div>

    <!-- FILTRO POR PRODUTO -->
    <section class="mb-3">
        <div class="row">
            <div class="col-12 col-lg-2 mt-1">
                <input type="date" class="form-control" [(ngModel)]="dataRecebida" (change)="consultaExtratoAnual()">
            </div>
            <div class="col-12 col-lg-8 mt-1">
                <input type="text" class="form-control" [(ngModel)]="nomeProduto"
                    placeholder="Digite o nome do produto" (keyup)="filtarPorProduto()">
            </div>
            <div class="col-12 col-lg-2 mt-1">
                <button class="btn btn-primary form-control" (click)="alterarModoDeVisualizacao()">{{btnValue}}</button>
            </div>
        </div>
    </section>

    <!-- BARRRA DE PROGRESSO -->
    <div class=" d-flex justify-content-center ">
        <div class="center" *ngIf="this.extrato.length <= 0">
            <h3 class="bold">Carregando informações aguarde...</h3>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

    <!-- TABELA DE EXIBIÇÃO POR QUANTIDADE  -->
    <div class="table font-11" *ngIf="!isValor">
        <table *ngIf="this.extrato.length > 0" class="table table-sm table-hover table-striped" matSort (matSortChange)="sortMes($event)" >
            <thead>
                <tr>
                    <th scope="col">Produtos</th>
                    <th scope="col" mat-sort-header="{{col}}" *ngFor="let col of colunasTabela">{{col}}</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="c-pointer" *ngFor="let produto of extrato | paginate:{itemsPerPage:itensPagina,currentPage:pagina,id:'paginaQuantidade'} let i = index">
                    <td (click)="openDetalhesProduto(produto)">{{produto.nomeProduto}}</td>
                    <td *ngFor="let mes of produto.meses" class="{{valorClass(mes.quantidade)}}" (click)="openDetalhesProduto(produto)">{{mes.quantidade}}</td>
                    <td class="{{valorClass(produto.valorTotal)}}">{{produto.qtdeTotal}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>TOTAL:</td>
                    <td *ngFor="let total of totalMes">{{total}}</td>
                    <td>{{this.totalGeralQtd}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- TABELA DE EXIBIÇÃO POR VALOR -->
    <div class="table font-11" *ngIf="isValor">
        <table *ngIf="this.extrato.length > 0" class="table table-sm table-hover table-striped" matSort (matSortChange)="sortMes($event)">
            <thead>
                <tr>
                    <th scope="col">Produtos</th>
                    <th scope="col" mat-sort-header="{{col}}" *ngFor="let col of colunasTabela">{{col}}</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of extrato | paginate:{itemsPerPage:itensPagina,currentPage:pagina,id:'paginaQuantidade'} let i = index">
                    <td (click)="openDetalhesProduto(produto)">{{produto.nomeProduto}}</td>
                    <td *ngFor="let mes of produto.meses" class="{{valorClass(mes.quantidade)}}" (click)="openDetalhesProduto(produto)">{{mes.valor | currency:'BRL'}}</td>
                    <td class="{{valorClass(produto.valorTotal)}}">{{produto.valorTotal | currency:'BRL'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>TOTAL:</td>
                    <td *ngFor="let total of totalMes">{{total | currency:'BRL'}}</td>
                    <td>{{this.totalGeralVl | currency:'BRL'}}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="row">
        <pagination-controls class="col-11" id="paginaQuantidade" (pageChange)="pagina =$event" nextLabel=""
            previousLabel="" [maxSize]="5"></pagination-controls>
        <div *ngIf="exportarDados" class="col-1 align-middle p-1 text-center text-success c-pointer" data-bs-toggle="tooltip"
            data-bs-placement="left" title="Exportar dados" (click)="exportarPanilha()">
            <i class="fas fa-download iconeExcell "></i>
        </div>
    </div>
    <button class="btn  btn-danger" (click)="voltar()">Voltar</button>
</section>