<div>
    <section>
        <div class="bold card-label between align-middle">
            <div class="row">
                <div class="col-10 text-start">
                    <label >FATURAMENTO DIARIO</label>
                </div>
                <div class="col-2 text-end text-success c-pointer" (click)="exportarDados()">
                    <i class="fas fa-download iconeExcell" title="Exportar dados"></i>
                </div>
            </div>
        </div>
    </section>
    <div class="chart-container bg-color ">
        <canvas id="myChartBarDia"></canvas>
    </div>
</div>
