<section class="mb-5">
    <div class="container">
        <header>
            <div class="bgCor card-label d-flex between align-middle bold">
                <label class="color-text">CADASTRO DE USUÁRIOS</label>
            </div>
        </header>
        <form>
            <section class="row mt-3">
                <div class="col-12 col-lg-4">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" name="nome" [(ngModel)]="usuario.nome">
                </div>
                <div class="col-12 col-lg-4">
                    <label class="form-label">E-mail</label>
                    <input type="email" required class="form-control" name="username" [(ngModel)]="usuario.username">
                </div>
                <div class="col-12 col-lg-4">
                    <label class="form-label">Home page</label>
                    <input type="email" required class="form-control" name="homePage">
                </div>
            </section>

            <section class="mt-3 mb-3">
                <div class="bgCor card-label d-flex between align-middle bold">
                    <label class="color-text">PERMISSÕES DO USUÁRIO</label>
                </div>
                <div *ngFor="let tela of telasDoSistema" class="ms-3">
                    <span class="mt-3 bold">TELA - {{tela.nome}}</span><br>
                    <input type="checkbox" id="{{tela.rota}}" class="ms-4" (click)="IncluirTelaParaUsuario($event,tela)">
                    <label class="ms-2" for="{{tela.rota}}">visualizar_tela</label>
                    <div *ngFor="let componente of tela.componentes" class="ms-4">
                        <input type="checkbox" id="{{tela.rota}}_{{componente.nome}}" class="me-2"   (click)="selecionarComponentes($event, componente, tela)">
                        <label for="{{tela.rota}}_{{componente.nome}}">{{componente.nome}}</label>
                    </div>
                </div>
            </section>
            <div>
                <button class="btn btn-primary mt-2 mb-2" (click)="cadastrarUsuario()" *ngIf="!modoDeEdicao">Convidar</button>
                <button class="btn btn-primary mt-2 mb-2" (click)="alterarUsuario()"
                    *ngIf="modoDeEdicao">Alterar</button>
                <button class="btn btn-danger ms-2" (click)="limparDados()">Limpar</button>
            </div>            
        </form>

       

        <section>
            <header>
                <div class="bgCor card-label d-flex between align-middle">
                    <label class="color-text bold">CONSULTAR USUÁRIOS CADASTRADOS</label>
                </div>
            </header>
            <form>
                <div class="mt-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="email" placeholder="Digite o email do usuário"
                            [(ngModel)]="email">
                        <button class="btn btn-outline-secondary" (click)="consultarUsuario()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="table mb-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="d-none d-lg-table-cell" scope="col">ID</th>
                            <th class="d-none d-lg-table-cell" scope="col">NOME</th>
                            <th scope="col">E-MAIL</th>
                            <th class="d-none d-lg-table-cell" scope="col">STATUS</th>
                            <th class="text-center" scope="col">OPÇÔES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr (click)="editarUsuario(usuario)"
                            *ngFor="let usuario of usuarios  | paginate:{itemsPerPage:itensPagina,currentPage:pagina,id:'tblFatProduto'}let i = index"
                            class="c-pointer align-middle">
                            <td class="d-none d-lg-table-cell">{{usuario.id}}</td>
                            <td class="d-none d-lg-table-cell">{{usuario.nome}}</td>
                            <td>{{usuario.email}}</td>
                            <td class="d-none d-lg-table-cell" *ngIf="!usuario.contaAtiva">BLOQUEADO</td>
                            <td class="d-none d-lg-table-cell" *ngIf="usuario.contaAtiva">ATIVO</td>
                            <td class="text-center">
                                <button class="btn btn-sm " title="Bloquear" (click)="bloquearUsuario(usuario)">
                                    <i class="fas fa-lock-open text-success" *ngIf="usuario.contaAtiva"></i>
                                    <i class="fas fa-lock text-danger" *ngIf="!usuario.contaAtiva"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls class="col-11" id="tblFatProduto" (pageChange)="pagina =$event" nextLabel=""
                previousLabel="" [maxSize]="5"></pagination-controls>
        </section>

    </div>


</section>
