<section class="mb-5">

    <div class="row">
        <div class="col-12 col-lg-3">
            <div class="input-group">
                <input type="date" class="form-control" [(ngModel)]="dataProgramacao">
                <button class="btn btn-primary" (click)="consultarItensProgramadosAguardando()">
                    <i class="fas fa-search-dollar"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- TOTAL VALOR -->
        <div class="col-12">
            <div class="card-label d-flex between align-middle">
                <label class="color-text">VALOR TOTAL PROGRAMADO: </label>
                <label for="" class="bold ms-2">{{totalGeral | currency: 'BRL'}}</label>
                <div class="text-end ms-4">
                        <i class="fas fa-exclamation-circle text-danger me-2"></i>
                        <label for="">ITEM CRÍTICO</label>
                        <i class="fas fa-exclamation text-primary ms-2 me-1" ></i>
                        <label for="">PRIORIDADE ALTA</label>
                </div>
            </div>
            
        </div>

        <!-- CARD 1° TURNO -->
        <div class="col-12 col-lg-4 mt-1">
            <div class="cartao">
                <header class="header-cartao">
                    <label for="" class="text-light bold">PRIMEIRO TURNO</label>
                </header>
                <div class="row p-2">
                    <div class="col-5">
                        <label for="" class="mt-1 bold">LINHA</label>
                        <br>
                        <a class="c-pointer" *ngFor="let l of itensLinhaTurno1" class="sublinhado" (click)="exibirItensProgramados(l)">
                            <label for="" class=" mt-1 bold">{{l.linhaDeProducao.nome}}</label>
                            <br>
                        </a>
                    </div>
                    <div class="col-5">
                        <label for="" class="bold">VALOR</label>
                        <br>
                        <div *ngFor="let linha of itensLinhaTurno1">
                            <label for="" class="mt-1">{{linha.valorPrevisto | currency: 'BRL'}}</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center">
                            <label for="" class="bold">IMP</label>
                            <br>
                            <div *ngFor="let linha of itensLinhaTurno1" class="mt-1">
                                <a class="c-pointer" (click)="gerarPdfProgramacao(linha)">
                                    <i class="fas fa-print"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <div class="row">
                            <div class="col-5 bold">
                                TOTAL
                            </div>
                            <div class="col-5 bold">
                                {{totalTurno1 | currency: 'BRL'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CARD 2° TURNO -->
        <div class="col-12 col-lg-4 mt-1">
            <div class="cartao">
                <header class="header-cartao">
                    <label for="" class="text-light bold">SEGUNDO TURNO</label>
                </header>
                <div class="row p-2">
                    <div class="col-5">
                        <label for="" class="mt-1 bold">LINHA</label>
                        <br>
                        <div *ngFor="let l of itensLinhaTurno2" class="sublinhado" (click)="exibirItensProgramados(l)">
                            <label for="" class=" mt-1 bold">{{l.linhaDeProducao.nome}}</label>
                            <br>
                        </div>
                    </div>
                    <div class="col-5">
                        <label for="" class="bold">VALOR</label>
                        <br>
                        <div *ngFor="let linha of itensLinhaTurno2">
                            <label for="" class="mt-1">{{linha.valorPrevisto | currency: 'BRL'}}</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center">
                            <label for="" class="bold">IMP</label>
                            <br>
                            <div *ngFor="let linha of itensLinhaTurno2" class="mt-1">
                                <a class="c-pointer" (click)="gerarPdfProgramacao(linha)">
                                    <i class="fas fa-print"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <div class="row">
                            <div class="col-5 bold">
                                TOTAL
                            </div>
                            <div class="col-5 bold">
                                {{totalTurno2 | currency: 'BRL'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CARD 3° TURNO -->
        <div class="col-12 col-lg-4 mt-1">
            <div class="cartao">
                <header class="header-cartao">
                    <label for="" class="text-light bold">TERCEIRO TURNO</label>
                </header>
                <div class="row p-2">
                    <div class="col-5">
                        <label for="" class="mt-1 bold">LINHA</label>
                        <br>
                        <div *ngFor="let l of itensLinhaTurno3" class="sublinhado" active (click)="exibirItensProgramados(l)">
                            <label for="" class=" mt-1 bold" >{{l.linhaDeProducao.nome}}</label>
                            <br>
                        </div>
                    </div>
                    <div class="col-5">
                        <label for="" class="bold">VALOR</label>
                        <br>
                        <div *ngFor="let linha of itensLinhaTurno3">
                            <label for="" class="mt-1">{{linha.valorPrevisto | currency: 'BRL'}}</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="text-center">
                            <label for="" class="bold">IMP</label>
                            <br>
                            <div *ngFor="let linha of itensLinhaTurno3" class="mt-1">
                                <a class="c-pointer" (click)="gerarPdfProgramacao(linha)">
                                    <i class="fas fa-print"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <div class="row">
                            <div class="col-5 bold">
                                TOTAL
                            </div>
                            <div class="col-5 bold">
                                {{totalTurno3 | currency: 'BRL'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section *ngIf="sequenciaSetup.length > 0">
        <div class="col-12 mt-3">
            <div class="card-label align-middle text-center">
                <label class="color-text">VISUALIZAÇÃO DOS ITENS PROGRAMADOS </label>
                <label for="" class="bold ms-2">{{nomeLinhaVisualizacao}} - {{turnoVisualizacao}}</label>
            </div>
        </div>

        <mat-accordion >
            <mat-expansion-panel *ngFor="let st of sequenciaSetup" [expanded]="step == st.nomeBeneficiamento" (opened)="setStep(st.nomeBeneficiamento)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <label for="" class="bold me-2" *ngIf="st.sequenciaSetup != 0">{{st.sequenciaSetup }} -</label>
                        <label for="" class="bold" *ngIf="st.setup == 0"> SETUP MISTO</label>
                        <label for="" class="bold" *ngIf="st.setup != 0">{{st.nomeBeneficiamento}}</label>
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        <label for="">Teste</label>
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="table mt-1 mb-5">
                    <table class="table table-striped table-sm font-11 table-hover">
                        <thead>
                            <tr>
                                <th>SEQ.</th>
                                <th class="text-center">PRIO.</th>
                                <th>CONTROLE</th>
                                <th>ITEM</th>
                                <th>CLIENTE</th>
                                <th>PRODUTO</th>
                                <th>ESP.</th>
                                <th>BENEFICIAMENTO</th>
                                <th>QTDE</th>
                                <th>SITUAÇÃO</th>
                                <th class="text-center">CONFIG</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let produto of st.itensProgramados">
                                <td class="c-pointer" (click)="visualizarDetalhesDoItem(produto)">{{produto.sequencia}}</td>
                                <td class="text-center" (click)="visualizarDetalhesDoItem(produto)">
                                    <i class="fas fa-exclamation-circle text-danger" *ngIf="produto.prioridade == 0"></i>
                                    <i class="fas fa-exclamation text-primary" *ngIf="produto.prioridade == 1"></i>
                                </td>
                                <td class="c-pointer" (click)="visualizarDetalhesDoItem(produto)">{{produto.cdEntrada}}</td>
                                <td class="c-pointer" (click)="visualizarDetalhesDoItem(produto)">{{produto.item}}</td>
                                <td class="c-pointer" (click)="visualizarDetalhesDoItem(produto)">{{produto.nomeCliente}}</td>
                                <td class="c-pointer" (click)="visualizarDetalhesDoItem(produto)">{{produto.nomeProduto}}</td>
                                <td class="c-pointer" (click)="visualizarDetalhesDoItem(produto)">{{produto.espessura}}</td>
                                <td class="c-pointer" (click)="visualizarDetalhesDoItem(produto)">{{produto.nomeBeneficiamento}}</td>
                                <td class="c-pointer" (click)="visualizarDetalhesDoItem(produto)">{{produto.qtdeProgramada}}</td>
                                <td class="c-pointer" (click)="visualizarDetalhesDoItem(produto)">{{produto.status}}</td>
                                <td class="text-center "> 
                                    <a class="text-danger c-pointer" *ngIf="produto.status == 'AGUARDANDO'" (click)="iniciarProgramacao(produto)"><i class="fas fa-stop"></i></a>
                                    <a class="text-success c-pointer" *ngIf="produto.status == 'PRODUZINDO'" (click)="finalizaProgramacao(produto)"><i class="fas fa-play"></i></a>
                                    <i class="fas fa-check-double text-success" *ngIf="produto.status == 'FINALIZADO'"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <td>TOTAIS</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{totalTbQtde}}</td>
                            <td></td>
                            <td></td>
                        </tfoot>
                    </table>
                    <div class="text-end">
                        <button class="btn btn-primary btn-sm" (click)="alterarSetup(st)">Alterar sequência</button>
                        <button class="btn btn-sm btn-danger ms-2" (click)="excluirSetup(st.itensProgramados)">Excluir setup</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
       
    </section>

</section>
